# Unity generated folders
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Visual Studio cache
.vs/
*.csproj
*.sln
*.suo
*.user

# Rider / VSCode
.idea/
.vscode/

# OS junk files
.DS_Store
Thumbs.db

# Unity Asset Store packages
*.unitypackage
